{% extends "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'path/to/your/css/file.css' %}">

    <div class="container mt-5">
        <h2>Add New Book</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Add Book</button>
        </form>
        <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Back to Home</a>
    </div>

{% endblock %}
