<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li ><a href="{% url 'home' %}">Home</a></li>
						<li ><a href="{% url 'detail_category' %}">All books</a></li>
						{% if request.user.is_authenticated %}
						<li><a href="{% url 'logout' %}">Logout</a></li>
						<li><a href="{% url 'add_book' %}">Create book</a></li>
						{% else %}
						<li><a href="{% url 'register' %}">Register</a></li>
						<li><a href="{% url 'login' %}">Login</a></li>
						{% endif %}
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
</nav>